// Variables

// # Colors

// ## Primary

// ## Secondary

// ## Neutral

// # Typography
$font__size: 16px;
$font__family: sans-serif;

// # Others

// # Transitions
$transition: all 0.3s;

// # Breakpoints

// # Custom Props
:root {
  // # Colors

  // # Typography

  // # Others
}
